{% extends "qa/filter_paginator.html" %}
{% block title %}qa items{% endblock %}

{% block content %}
<h1>qa items</h1>

{% if context or request.GET.search_by%}

{% block content_table %}
{% if context %}
<ul>
    <li>columns can be sorted</li>
    <li>a coloured <span class="warning">psmid</span> means the item is missing an mcode and / or is missing a related document</li>
</ul>

<div id="result_table" style="margin-right: 0px;">
   <form action="" method="post">
    <p>export results as <a href="csv?csv_search_by={{ request.GET.search_by }}&amp;search_by={{ request.GET.search_by }}">csv</a> - download csv with Firefox and not IE</p>
    <table>
        <thead>
        <tr>
         {% for header in sort_fields_list %}
             <th id={{ header.1 }} onclick="sort_header('{{ header.1 }}', '{{ request.GET.filter_by}}' ,'{{ request.GET.search_by }}', '{{ page_obj.number }}')">
                 <div class="text">{{ header.0 }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
             </th>
         {% endfor %}
        </tr>

        </thead>
        <tbody>
        {% for item in context %}
        <tr class="{% cycle 'row1' 'row2' %}">

            <td nowrap><input type="hidden" size="0%" name="id" value="{{item.id}}"/>{{item.date}}&nbsp;</td>

            <td>{{item.ingest_count}}</td>

            <td>{{item.mcode}}</td>

            <td>{{item.is_fully_linked}}</td>

            {% if item.is_fully_linked and item.mcode %}
            <td><a href="{% url item item.id %}">{{item.dom_name}}</a>&nbsp;</td>
            {% else %}
            <td><span class="warning"><a href="{% url item item.id %}">{{item.dom_name}}</a></span>&nbsp;</td>
            {% endif %}

            {% if item.with_approval %}
            <td><input type="checkbox" name="approved" value="{{item.id}}" checked="on"></td>
            {% else %}
            <td><input type="checkbox" name="approved" value="{{item.id}}"></td>
            {% endif %}

            <td><input type="text" name="notes-{{item.id}}" value="{{item.notes}}" size="40" maxlength="250"/>&nbsp;</td>

            <td>{{item.who}}&nbsp;</td>

            {% if item.show_when %}
                <td nowrap>{{item.when}}</td>
            {% else %}
                <td nowrap></td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<table class="border-color: transparent;" width="100%">
    <tr>
        <td>{% block content_paginate %}{{ block.super }}{% endblock %}</td>
        <td align="right">
            <input type="submit" class="button" value="save" name="save" id="save"/>
        </td>
    </tr>
</table>
     </form> 
    {% else %}
    {%if request.GET.search_by %}
    <p><br/>no items under this condition: <b>search by: "{{ request.GET.search_by }}"</b></p>
    {% else %}
    <p>no items</p>
    {% endif %}
    {% endif %}

{% endblock %}

{% else %}
<p>no items are available</p>
{% endif %}

{% block sort_script %}
{{ block.super }}
{% endblock %}

{% endblock %}
