{% extends "qa/filter_paginator.html" %}
{% block title %}mcodes{% endblock %}

{% block content %}
    <h1>mcodes</h1>

    {% if context or request.GET.search_by%}

<ul>
<li>columns are sortable</a></li>
<li>5XFF = cho_meet_192; cho_meet_193; cho_meet_194; cho_meet_195; cho_meet_196; cho_meet_197</li>
<li>6SBM = cho_meet_198; cho_meet_199; cho_meet_200; cho_meet_201</li>
<li>5XFC = cho_chrx_192; cho_chrx_193; cho_chrx_194; cho_chrx_195; cho_chrx_196; cho_chrx_197; cho_rpax_192; cho_rpax_193; cho_rpax_194; cho_rpax_195; cho_rpax_196; cho_rpax_197; cho_chbp_197</li>
<li>6SBN = cho_rpax_198; cho_rpax_199; cho_rpax_200; cho_rpax_201; cho_chrx_198; cho_chrx_199; cho_chrx_200; cho_chrx_201</li>
</ul>

        {% block content_table %}
            <div id="result_table" style="margin-right: 0px;">
                {% if context %}
                    <form action="" method="post">
                        <table>
                            <thead>
                                <tr>
                                    <th></th>
                                    {% for value, key in sort_fields_list.items %}
                                        <th id={{ key }} onclick="sort_header('{{ key }}', '{{ request.GET.filter_by}}' ,'{{ request.GET.search_by }}', '{{ page_obj.number }}')">
                                            <div class="text">{{ value }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                                        </th>
                                    {% endfor %}
                                    <th>delete&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for mcode_table in context %}
                                    <tr class="{% cycle 'row1' 'row2' %}">
                                        <td><input type="hidden" size="0%" name="id" value="{{mcode_table.id}}"></td>
                                        <td><input type="text" maxlength="50" size="30" name="psmid" value="{{mcode_table.psmid}}"></td>
                                        <td><input type="text" maxlength="4" size="4" name="mcode" value="{{mcode_table.mcode}}"></td>
                                        <td><input type="text" maxlength="250" size="105" name="publication_title" value="{{mcode_table.publication_title}}"></td>
                                        <td><input type="checkbox" value="{{mcode_table.id}}" name="delete_selected"/></td>
                                    </tr>
                                {% endfor %}
                                <tr class="{% cycle 'row1' 'row2' %}">
                                    <td></td>
                                    <td><input size="30" maxlength="50" name="add_psmid" value=""></td>
                                    <td><input size="4" maxlength="4" name="add_mcode" value=""></td>
                                    <td><input size="105" maxlength="250" name="add_publication_title" value=""></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
            </div>
                        <table class="border-color: transparent;" width="100%">
                            <tr>
                            <td>{% block content_paginate %}{{ block.super }}{% endblock %}</td>
                            <td align="right">
                                <input type="submit" class="button" value="add" name="add_item"/>
                                <input type="submit" class="button" value="save edits" name="apply_changes"/>
                                <input type="submit" class="button" value="delete selected" name="delete_item"/>
                            </td>
                            </tr>
                        </table>
                        </p>
                    </form>
                {% else %}
                    {% if request.GET.filter_by and request.GET.search_by %}
                        <p>no mcodes under this condition: <br/><b>filter by: "{{ request.GET.filter_by }}" search by: "{{ request.GET.search_by }}"</b><br/><br/></p>
                    {% elif request.GET.filter_by %}
                        <p><br/>no mcodes under this condition: <b>filter by: "{{ request.GET.filter_by }}"</b></p>
                    {% elif request.GET.search_by %}
                        <p><br/>no mcodes under this condition: <b>search by: "{{ request.GET.search_by }}"</b></p>
                    {% else %}
                        <p>no mcodes</p>
                    {% endif %}
                {% endif %}
        {% endblock %}

    {% else %}
        <p>no mcodes</p>

    {% endif %}

    {% block sort_script %}
        {{ block.super }}
    {% endblock %}

{% endblock %}
